* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: Manrope;
  max-width: 1440px;
  min-width: 375px;
}

header{
  /* margin: 10px 0 0; */
  padding: 0 15px;
  font-weight: 700;
  height: 70px;
}

h5 {
  margin-bottom: 2px;
}

p {
  margin-top: 2px;
  font-size: 13px;
}

.card {
  margin: 100px auto;
  text-align: center; 	
}

.picture {
  display: inline;
}

.picture img {
  width: 300px;
  height: 250px;
}

.text {
  background-color: #fdfdfd;
  padding: 15px 10px;
  margin: 20px 0;
  display: inline-block;
  width: 300px;
  height: 250px;
  text-align: left;
}

.avatar {
  display: inline;
  padding: 10px;
}

.avatar img {
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

.designer {
  display: inline-block;
}

.paragraph {
  color: 	#696969;
  padding: 0 10px 10px;
  font-size: 13px;
  font-weight: 500;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }