body {
  background-color: hsl(210, 46%, 95%);
  font-family: Manrope;
  max-width: 1440px;
  min-width: 375px;
}

header{
  font-weight: 700;
}

.picture {
  display: inline;
}

.picture img {
  width: 300px;
  height: 250px;
}

.text {
  display: inline-block;
  width: 250px;
}

.paragraph {
  font-size: 13px;
  font-weight: 500;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }